@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;500;600;700;800&display=swap');
body {
    font-family: "Montserrat";
    overflow-x: hidden;
    background-color: #151515;
}

.hero-img-left-bg {
    background-image: url("../images/hero-img-back.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-stylist-title {
    font-family: 'Bad Script', cursive;
    font-size: 4.5rem !important;
    color: orange;
}

.highlight-underline-img {
    margin-right: 5% !important;
    width: 30%;
}

.hero-img-right-bg {
    background-image: url("../images/hero-right-bg-img.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.players-card {
    background-color: #0D0D0D;
    border: 1px solid #434343;
}

.submit-btn {
    background-color: orange;
}

.get-top-five-list li {
    position: relative;
    margin-bottom: 0.5rem;
}
.get-top-five-list .listed-player-name {
    margin-left: 5%;
}

.get-top-five-list li .remove-player {
    position: absolute;
    right: 5%;
}


.remove-player {
    cursor: pointer;
    transition: 400ms;
    border-radius: 50px;
    padding: 4px 5px;
}

.remove-player:hover {
    color: black;
    background-color: rgba(131, 131, 131, 0.397);
    border-radius: 50%;
}

@media screen and ( max-width: 576px ) {
    .hero-stylist-title {
        font-family: 'Bad Script', cursive;
        font-size: 3rem !important;
        color: orange;
    }

    .heading-highlight-underline {
        width: 30% !important;
    }
}

@media screen and ( min-width: 576px ) and ( max-width: 768px ) {
    .hero-stylist-title {
        font-family: 'Bad Script', cursive;
        font-size: 3.5rem !important;
        color: orange;
    }
    
    .heading-highlight-underline {
        width: 40% !important;
    }
}

@media screen and ( min-width: 768px ) and ( max-width: 992px ) {
    .hero-stylist-title {
        font-family: 'Bad Script', cursive;
        font-size: 3rem !important;
        color: orange;
    }  

    .heading-highlight-underline {
        width: 25% !important;
    }
}

@media screen and ( min-width: 992px ) and ( max-width: 1200px ) {
    .hero-stylist-title {
        font-family: 'Bad Script', cursive;
        font-size: 3rem !important;
        color: orange;
    }
}